
.datePickerContainer {

  /* Position of the element */
  margin: 0 auto 0 auto;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;  /* The 20px up are defined in input class */

  /* Color of the element */
  color: white;
  background-color: #257CFFFF;
  border-radius: 40px;
  max-width: 300px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.datePickerContainer input{

    /* Position of the element */
    width: 50%;
    height: 30px;

    /* Color of the element */
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #257CFFFF;
    color: white;
    font-size: 17px;
    outline: 0;


}

.processed {
    background-color: #f0f6ff;
}