.infoAndPhotosContainer{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.statusContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.statusIndicator {
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    min-width: 100px;
    text-align: center;
}

.statusIndicator.green {
    background-color: #d4f4cd;
    color: #133213;
}

.statusIndicator.red {
    background-color: #f4d4d4;
    color: #331313;
}

.infoContainer{
    flex: 2;
    text-align: justify;
    max-width: 1000px;
}

.photosContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    width: 100%;
    margin: 20px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tableContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media (max-width: 767px) {
    .infoAndPhotosContainer {
        flex-direction: column;
    }
    .buttonContainer {
        flex-direction: column;
    }
    .statusIndicator {
        width: 50%;
    }
}

