.infoAndPhotosContainer{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    width: 100%;
    gap: 50px;
}

.infoContainer{
    flex: 2;
    text-align: justify;
}

.photosContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    width: 100%;
    margin: 20px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tableContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media (max-width: 767px) {
    .infoAndPhotosContainer {
        flex-direction: column;
    }
    .buttonContainer {
        flex-direction: column;
    }
}

