.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
}

.navbarLinks {
    display: flex;
    flex: 1;
    margin: 30px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    width: 30%
}

.navbarLogo {
    flex: 1;
    text-align: left;
    width: 30%;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .navbarLogo{
        display: none;
    }
}